<link rel="stylesheet" href="/assets/home.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


<footer class="footer" background-color="#8c0009">
<div class="footercontainer">
   <div class="content has-text-centered has-text-white">
     <p>
        <img src="/assets/LogoWeb/dekdoklogoblack.png" alt="logo" width="145px">
       <strong>DEKDOK</strong> by <a href="#">DEKDOK GAMING</a>. The source code is licensed
       <a href="#">DEKDOK 2017</a>. The website content
       is licensed <a href="#"> dekdok.com</a>.
     </p>
   </div>
 </div>
  </footer>
