<link rel="stylesheet" href="/assets/home.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <header>


    <!-- <div class="headcontainer"> <div class="has-text-left"> <img src="/assets/LogoWeb/dekdoklogowhite.png" alt="" width="145" height="auto" style="margin-top: 41px"> </div> </div> <nav class="navbar"> <div class="container is-left"> <a href="/home"
    class="logo"> <img src="assets/Logoweb/dekdoklogowhite.png" alt="" width="145" height="auto" style="margi-top:-10px;"> </a> </div> </nav> <nav class="navbar is-transparent"> <div class="navbar-brand"> <a class="navbar-item" href="/home"> <img
    src="assets/Logoweb/logow.png" alt="" width="112" height="28"> </a> <button class="button navbar-burger"> <span></span> <span></span> <span></span> </button> </div> </nav> <div class="navcontainer"> <div class="nav-center"> <nav class="navbar-tabs">
    <a href="#" class="nav-item">หน้าแรก</a> <a href="#" class="nav-item">ข่าว</a> <a href="#" class="nav-item">รีวิวเกม</a> <a href="#" class="nav-item">เกมยอดนิยม</a> <a href="#" class="nav-item">เกี่ยวกับเรา</a> </nav> </div> </div> -->
    <style>
  input[type=text] {
      width: 40px;
      box-sizing: border-box;
      border: 2px hidden #8c000a;
      font-size: 16px;
  		background-image:url(/assets/images/search.png);
  		background-color: #202020;
  		background-repeat: no-repeat;
  		height: 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  		cursor: pointer;
  }

  input[type=text]:focus {
      width: 200px;
  		border: solid;
  		background-color: #505050;
  		background-image: none;
  		cursor: grab;
  }
  input:focus{
  	cursor: grab !important;
  }
  </style><style>
input[type=text] {
    width: 40px;
    box-sizing: border-box;
    border: 2px hidden #8c000a;
    font-size: 16px;
		background-image:url(/assets/images/search.png);
		background-color: #202020;
		background-repeat: no-repeat;
		height: 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
		cursor: pointer;
}

input[type=text]:focus {
    width: 200px;
		border: solid;
		background-color: #505050;
		background-image: none;
		cursor: grab;
}
input:focus{
	cursor: grab !important;
}
</style>
    <script>
      function statusChangeCallback(response) {
        console.log('statusChangeCallback');
        console.log(response);
        if (response.status === 'connected') {
          testAPI();
        } else {
          document.getElementById('status').innerHTML = 'Please log into this app.';
        }
      }
      function checkLoginState() {
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      }
      window.fbAsyncInit = function() {
        FB.init({appId: '1490167914363614', cookie: true, xfbml: true, version: 'v2.8'});
        FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
        });
      };
      (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
          return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      function testAPI() {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Successful login for: ' + response.name);
          document.getElementById('status').innerHTML = 'Thanks for logging in, ' + response.name + '!';
        });
      }
      FB.Event.subscribe('auth.login', function() {
        window.location.reload();
      });
    </script>
    <div class="column is-multiline">
    <div class="headcontainer">
    	<!--ถ้าใช้ id จะอ้าง java script ได้-->
    				 <br>
    				 <div class="head">
    					 <div class="columns is-multiline">
    						 <div class="column is-4">
                   <a href="/home">
    							 <img  src="/assets/LogoWeb/dekdoklogowhite.png" alt="" width="200" height="auto"> <!--แทรกรูป กำหนดขนาด-->
                 </a>
    						 </div>
    						 <div class="column is-8"align="right"><input type="text" name="search" placeholder="       Search.."><a onclick="document.getElementById('modal-wrapper').style.display='block'"  >
    								 <img  src="/assets/images/log-in.png" alt="" width="100px">
    						</a></div>
    					 </div>
    				 </div>
    </div>
    </div>
    <div id="modal-wrapper" class="modal">

      <form class="modal-content animate" action="#">
        <!-- #หน้าหลังล็อกอิน -->

        <div class="imgcontainer">
          <span onclick="document.getElementById('modal-wrapper').style.display='none'" class="close" title="Close PopUp">&times;</span>
          <img src="/assets/Logoweb/dekdoklogoblack.png" alt="Avatar" class="avatar">
          <h1 style="text-align:center">เข้าสู่ระบบ</h1>
        </div>
        <div class="has-text-centered">
          <h3>—————————— หรือ ——————————</h3>
          <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="login_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="false"></div>
          <div id="status"></div>
          <input type="text" placeholder="อีเมล์" name="uname">
          <input type="password" placeholder="รหัสผ่าน" name="psw">
          <br></br>
          <button type="submit">เข้าสู่ระบบ</button><br>
          <input type="checkbox" style="margin:26px 30px;">
            จดจำฉัน</input>
          <a class="has-text-centered" href="#" style="text-align:center;">ลืมรหัสผ่าน?</a>
          <br>
          <button class="regis" type="submit">สมัครเลย</button>
        </div>
      </form>

    </div>

    <script>
      // If user clicks anywhere outside of the modal, Modal will close
      var modal = document.getElementById('modal-wrapper');
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>

    <div class="navcontainer">
      <div class="nav-center">
        <nav class="navbar-tabs">
          <a href="/home" class="nav-item">หน้าแรก</a>
          <a href="/news" class="nav-item">ข่าว</a>
          <a href="/review" class="nav-item">รีวิวเกม</a>
          <a href="/topchart" class="nav-item">เกมยอดนิยม</a>
          <a href="/aboutus" class="nav-item">เกี่ยวกับเรา</a>
        </nav>
      </div>
    </div>

  </header>
