{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="/assets/news.css">


{% endblock %}

{% block content %}

  <body>
  	<section class="section we-present">
  		<div class="container">
  			<div class="eiei">
  				<h1> <b>ข่าวล่าสุด</b> </h1>
  			</div>

  			<div class="line">
  			</div>
  		</div>

  	<section class="section">
  		<div class="container">
  			<section class="columns is-multiline">
  				<div class="column is-one-third">
  					<a href="#">
  						<div class="cardtop">
  							<div class="container2">
  									<img class="headnews"src="/assets/images/news1.jpg" alt="images-1">
  								<div class="card-content">
  									<h3 class="title is spaced is-4"><font color="white">รออะไร Overwatch เปิดฟรีทุกคอนเทนท์ 22 กันยานี้</font></h3>
  								</div>
  							</div>
  						</div>
  					</a>
  				</div>

  				<div class="column is-one-third">
  					<a href="#">
  						<div class="cardtop">
  							<div class="container2">
  									<img class="headnews"src="/assets/images/news1.jpg" alt="images-1">
  								<div class="card-content">
  									<h3 class="title is spaced is-4"><font color="white">รออะไร Overwatch เปิดฟรีทุกคอนเทนท์ 22 กันยานี้</font></h3>
  								</div>
  							</div>
  						</div>
  					</a>
  				</div>

  				<div class="column is-one-third">
  					<a href="#">
  						<div class="cardtop">
  							<div class="container2">
  									<img class="headnews"src="/assets/images/news1.jpg" alt="images-1">
  								<div class="card-content">
  									<h3 class="title is spaced is-4"><font color="white">รออะไร Overwatch เปิดฟรีทุกคอนเทนท์ 22 กันยานี้</font></h3>
  								</div>
  							</div>
  						</div>
  					</a>
  				</div>

  			</section>
  		</div>
  	</section>
  </section>
      <div class="container1">
      	<main>
  		<section class="section dekdok news present">
  			<div class="card">
  				<a href="#" class="column">
  					<div class="columns">
  						<div class="column">
  							<figure class="image is-5by3" height="720 px">
  								<img src="/assets/images/news1.jpg" alt="/DDG/static/assets/images/news1.jpg">
  							</figure>
  						</div>
  					<div class="column ">
  						<div class="card-content">
  							<h1 class="title is-spaced">เผยโฉมอีกหนึ่งตัวร้ายกับบาทหลวงผู้บิดเบี้ยวในตัวอย่างใหม่
  							ของ The Evil Within 2</h1>
  							<h2 class="subtitle">
  								<p>หลังจากที่ The Evil Within 2 เกมสยองขวัญภาคต่อได้ปล่อยเทรลเลอร์ออกมาเมื่อเดือนก่อนที่เผยให้เห็นตัวร้ายอย่าง Stefano ศิลปินโรคจิตออกมาให้ชมกัน วันนี้ทาง Bethesda ก็ได้ปล่อยเทรลเลอร์ล่าสุดที่เผยโฉมอีกหนึ่งตัวร้ายประจำเกมผู้ที่จะมาคอยขัดขวางการ
  								ตามหาลูกสาวของ Sebastian
  								</p>
  							</h2>
  							<h3 class="time">4 DAYS AGO</h3>
  						</div>
  					</div>
  					</div>
  				</a>
  			</div>

  			<div class="card">
  				<a href="#" class="column">
  					<div class="columns">
  						<div class="column">
  							<figure class="image is-5by3" height="720 px">
  								<img src="/assets/images/news1.jpg" alt="/DDG/static/assets/images/news1.jpg">
  							</figure>
  						</div>
  					<div class="column ">
  						<div class="card-content">
  							<h1 class="title is-spaced">เผยโฉมอีกหนึ่งตัวร้ายกับบาทหลวงผู้บิดเบี้ยวในตัวอย่างใหม่
  							ของ The Evil Within 2</h1>
  							<h2 class="subtitle">
  								<p>หลังจากที่ The Evil Within 2 เกมสยองขวัญภาคต่อได้ปล่อยเทรลเลอร์ออกมาเมื่อเดือนก่อนที่เผยให้เห็นตัวร้ายอย่าง Stefano ศิลปินโรคจิตออกมาให้ชมกัน วันนี้ทาง Bethesda ก็ได้ปล่อยเทรลเลอร์ล่าสุดที่เผยโฉมอีกหนึ่งตัวร้ายประจำเกม...
  								</p>
  							</h2>
  							<h3 class="time">4 DAYS AGO</h3>
  						</div>
  					</div>
  					</div>
  				</a>
  			</div>


  			<div class="card">
  				<a href="#" class="column">
  					<div class="columns">
  						<div class="column">
  							<figure class="image is-5by3" height="720 px">
  								<img src="/assets/images/news1.jpg" alt="/DDG/static/assets/images/news1.jpg">
  							</figure>
  						</div>
  					<div class="column ">
  						<div class="card-content">
  							<h1 class="title is-spaced">เผยโฉมอีกหนึ่งตัวร้ายกับบาทหลวงผู้บิดเบี้ยวในตัวอย่างใหม่
  							ของ The Evil Within 2</h1>
  							<h2 class="subtitle">
  								<p>หลังจากที่ The Evil Within 2 เกมสยองขวัญภาคต่อได้ปล่อยเทรลเลอร์ออกมาเมื่อเดือนก่อนที่เผยให้เห็นตัวร้ายอย่าง Stefano ศิลปินโรคจิตออกมาให้ชมกัน วันนี้ทาง Bethesda ก็ได้ปล่อยเทรลเลอร์ล่าสุดที่เผยโฉมอีกหนึ่งตัวร้ายประจำเกมผู้ที่จะมาคอยขัดขวางการ
  								ตามหาลูกสาวของ Sebastian
  								</p>
  							</h2>
  							<h3 class="time">4 DAYS AGO</h3>
  						</div>
  					</div>
  					</div>
  				</a>
  			</div>

  			<div class="card">
  				<a href="#" class="column">
  					<div class="columns">
  						<div class="column">
  							<figure class="image is-5by3" height="720 px">
  								<img src=" /assets/images/news1.jpg" alt="/DDG/static/assets/images/news1.jpg">
  							</figure>
  						</div>
  					<div class="column ">
  						<div class="card-content">
  							<h1 class="title is-spaced">เผยโฉมอีกหนึ่งตัวร้ายกับบาทหลวงผู้บิดเบี้ยวในตัวอย่างใหม่
  							ของ The Evil Within 2</h1>
  							<h2 class="subtitle">
  								<p>หลังจากที่ The Evil Within 2 เกมสยองขวัญภาคต่อได้ปล่อยเทรลเลอร์ออกมาเมื่อเดือนก่อนที่เผยให้เห็นตัวร้ายอย่าง Stefano ศิลปินโรคจิตออกมาให้ชมกัน วันนี้ทาง Bethesda ก็ได้ปล่อยเทรลเลอร์ล่าสุดที่เผยโฉมอีกหนึ่งตัวร้ายประจำเกมผู้ที่จะมาคอยขัดขวางการ
  								ตามหาลูกสาวของ Sebastian
  								</p>
  							</h2>
  							<h3 class="time">4 DAYS AGO</h3>
  						</div>
  					</div>
  					</div>
  				</a>
  			</div>


  			<div class="card">
  				<a href="#" class="column">
  					<div class="columns">
  						<div class="column">
  							<figure class="image is-5by3" height="720 px">
  								<img src=" /assets/images/news1.jpg" alt="/DDG/static/assets/images/news1.jpg">
  							</figure>
  						</div>
  					<div class="column ">
  						<div class="card-content">
  							<h1 class="title is-spaced">เผยโฉมอีกหนึ่งตัวร้ายกับบาทหลวงผู้บิดเบี้ยวในตัวอย่างใหม่
  							ของ The Evil Within 2</h1>
  							<h2 class="subtitle">
  								<p>หลังจากที่ The Evil Within 2 เกมสยองขวัญภาคต่อได้ปล่อยเทรลเลอร์ออกมาเมื่อเดือนก่อนที่เผยให้เห็นตัวร้ายอย่าง Stefano ศิลปินโรคจิตออกมาให้ชมกัน วันนี้ทาง Bethesda ก็ได้ปล่อยเทรลเลอร์ล่าสุดที่เผยโฉมอีกหนึ่งตัวร้ายประจำเกมผู้ที่จะมาคอยขัดขวางการ
  								ตามหาลูกสาวของ Sebastian
  								</p>
  							</h2>
  							<h3 class="time">4 DAYS AGO</h3>
  						</div>
  					</div>
  					</div>
  				</a>
  			</div>

  			<div class="card">
  				<a href="#" class="column">
  					<div class="columns">
  						<div class="column">
  							<figure class="image is-5by3" height="720 px">
  								<img src=" /assets/images/news1.jpg" alt="/DDG/static/assets/images/news1.jpg">
  							</figure>
  						</div>
  					<div class="column ">
  						<div class="card-content">
  							<h1 class="title is-spaced">เผยโฉมอีกหนึ่งตัวร้ายกับบาทหลวงผู้บิดเบี้ยวในตัวอย่างใหม่
  							ของ The Evil Within 2</h1>
  							<h2 class="subtitle">
  								<p>หลังจากที่ The Evil Within 2 เกมสยองขวัญภาคต่อได้ปล่อยเทรลเลอร์ออกมาเมื่อเดือนก่อนที่เผยให้เห็นตัวร้ายอย่าง Stefano ศิลปินโรคจิตออกมาให้ชมกัน วันนี้ทาง Bethesda ก็ได้ปล่อยเทรลเลอร์ล่าสุดที่เผยโฉมอีกหนึ่งตัวร้ายประจำเกมผู้ที่จะมาคอยขัดขวางการ
  								ตามหาลูกสาวของ Sebastian
  								</p>
  							</h2>
  							<h3 class="time">4 DAYS AGO</h3>
  						</div>
  					</div>
  					</div>
  				</a>
  			</div>
  	</main>
      </div>
    </section>



    {% block footer %}{% endblock %}

  </body>

{% endblock %}
