{% extends 'layout/base2.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="/assets/review.css">


{% endblock %}

{% block content %}


<body>
  <main>


<section class="section we-present">
  <div style="width: 1100px; margin: 0 auto; overflow: hidden;">
  <div class="container">
      <a href="/reviewmaster"><b2>รีวิวจากเว็บมาสเตอร์</b2></a>
      <div class="line"></div>
    </div>
  </div>
</section>
          <section class="section">
<div class="topcontainer">
  <div class="columns is-multiline is-centered" >
      <div class="top1"> <img class="image is-three-fifths is-marginless"src="/assets/images/pic/review1pic1.jpg" width=100%>
      </div>
    <div class="top2  is-multiline">
      <div class="top2_1 is-marginless"><img class="image is-marginless"src="/assets/images/pic/review1pic2.jpg  " width=100%>
      </div>
      <div class="top2_2 is-marginless"><img class="image is-marginless"src="/assets/images/pic/review1pic3.jpg"   width=100%>
  </div>
</div>
<div class="top3 is-multiline" >
    <div class="top3_1 is-marginless"><img class="image is-marginless"src="/assets/images/pic/review1pic4.jpg" width=100%>
    </div>
    <div class="top3_2 is-marginless">
    <img class="image is-marginless"src="/assets/images/pic/review1pic9.png" width="100%">
        </div>
      </div>
</div>

    </div>
</div>
  <section>
        <section class="section we-present">
  <div class="container">
      <a href="#"><b2>รีวิวจากผู้ใช้ทั้งหมด</b2></a>
      <div class="line"></div>
</div>
  </div>
</section>
        </br>
        <div class="container">
          <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="card">
                  <div class="column">
                    <a href="#">
                    <figure class="image is-2by3" height="auto">
                      <img src="/assets/images/pic/userreview1.png" alt="user 1.png">
                    </figure>
                </a>
                </div>
                <div class="card-content">
                  <div class="columns is-multiline">
                    <div class="column">

                      <figure class="image is-16x16">
                      <h1><img src="/assets/images/pic/underline-button.png"></h1>
                        </figure>

                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="column has-text-right">
                        <figure class="image is-16x16">
                      <h1><img src="/assets/images/pic/star.png"></h1>
                    </figure>
                    </div>
                  </div>
                </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="card">
                  <div class="column">
                    <a href="#">
                      <figure class="image is-5by3" height="720 px">
                      <img src="/assets/images/pic/userreview2.jpg" alt="user 2.jpg">
                    </figure>
                  </a>
                </div>
                <div class="card-content">
                  <div class="columns is-multiline">
                    <div class="column">
                      <figure class="image is-16x16">
                      <h1><h1><img src="/assets/images/pic/underline-button.png"></h1></h1>
                    </figure>
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="column has-text-right">
                      <figure class="image is-16x16" height="720 px">
                      <img src="/assets/images/pic/star.png" alt="user 2.jpg">
                    </figure>
                    </div>
                  </div>
                </div>
                </div>
            </div>


            <div class="column is-one-third">
                <div class="card">
                  <div class="column">
                    <a href="#">
                    <figure class="image is-5by3" height="720 px">
                      <img src="/assets/images/pic/userreview3.jpg" alt="user 3.jpg">
                    </figure>
                </a>
                </div>
                <div class="card-content">
                  <div class="columns is-multiline">
                    <div class="column">
                      <figure class="image is-16x16">
                      <h1><img src="/assets/images/pic/underline-button.png"></h1>
                        </figure>

                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="column has-text-right">
                      <figure class="image is-16x16" height="720 px">
                      <img src="/assets/images/pic/star.png" alt="user 2.jpg">
                    </figure>
                    </div>
                  </div>
                </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="card">
                  <div class="column">
                    <a href="#">
                    <figure class="image is-5by3" height="720 px">
                      <img src="/assets/images/pic/userreview4.jpg" alt="user 4.jpg">
                    </figure>
                </a>
                </div>
                <div class="card-content">
                  <div class="columns is-multiline">
                    <div class="column">
                      <figure class="image is-16x16">
                      <h1><img src="/assets/images/pic/underline-button.png"></h1>
                        </figure>

                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="column has-text-right">
                      <figure class="image is-16x16" height="720 px">
                      <img src="/assets/images/pic/star.png" alt="user 2.jpg">
                    </figure>
                    </div>
                  </div>
                </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="card">
                  <div class="column">
                    <a href="#">
                    <figure class="image is-5by3" height="720 px">
                      <img src="/assets/images/pic/userreview5.jpg" alt="user5.jpg">
                    </figure>
                  </a>
                </div>
                <div class="card-content">
                  <div class="columns is-multiline">
                    <div class="column">
                      <figure class="image is-16x16">
                      <h1><img src="/assets/images/pic/underline-button.png"></h1>
                        </figure>

                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="column has-text-right">
                      <figure class="image is-16x16" height="720 px">
                      <img src="/assets/images/pic/star.png" alt="user 2.jpg">
                    </figure>
                    </div>
                  </div>
                </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="card">
                  <div class="column">
                    <a href="#">
                    <figure class="image is-5by3" height="720 px">
                      <img src="/assets/images/pic/userreview6.jpg" alt="user 6.jpg">
                    </figure>
                  </a>
                </div>
                <div class="card-content">
                  <div class="columns is-multiline">
                    <div class="column">
                      <figure class="image is-16x16">
                      <h1><img src="/assets/images/pic/underline-button.png"></h1>
                        </figure>

                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="column has-text-right">
                      <figure class="image is-16x16" height="720 px">
                      <img src="/assets/images/pic/star.png" alt="user 2.jpg">
                    </figure>
                    </div>
                  </div>
                </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="card">
                  <div class="column">
                    <a href="#">
                    <figure class="image is-5by3" height="720 px">
                      <img src="/assets/images/pic/userreview7.jpg" alt="user 7.jpg">
                    </figure>
                  </a>
                </div>
                <div class="card-content">
                  <div class="columns is-multiline">
                    <div class="column">
                      <figure class="image is-16x16">
                      <h1><img src="/assets/images/pic/underline-button.png"></h1>
                        </figure>

                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="column has-text-right">
                      <figure class="image is-16x16" height="720 px">
                      <img src="/assets/images/pic/star.png" alt="user 2.jpg">
                    </figure>
                    </div>
                  </div>
                </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="card">
                  <div class="column">
                    <a href="#">
                    <figure class="image is-5by3" height="720 px">
                      <img src="/assets/images/pic/userreview8.jpg" alt="user 8.jpg">
                    </figure>
                  </a>
                </div>
                <div class="card-content">
                  <div class="columns is-multiline">
                    <div class="column">
                      <figure class="image is-16x16">
                      <h1><img src="/assets/images/pic/underline-button.png"></h1>
                        </figure>

                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="column has-text-right">
                      <figure class="image is-16x16" height="720 px">
                      <img src="/assets/images/pic/star.png" alt="user 2.jpg">
                    </figure>
                    </div>
                  </div>
                </div>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="card">
                  <div class="column">
                    <a href="#">
                    <figure class="image is-5by3" height="720 px">
                      <img src="/assets/images/pic/userreview9.png" alt="user 9.png">
                    </figure>
                  </a>
                </div>
                <div class="card-content">
                  <div class="columns is-multiline">
                    <div class="column">
                      <figure class="image is-16x16">
                      <h1><img src="/assets/images/pic/underline-button.png"></h1>
                        </figure>

                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="column has-text-right">
                      <figure class="image is-16x16" height="720 px">
                      <img src="/assets/images/pic/star.png" alt="user 2.jpg">
                    </figure>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <nav class="pagination" role="navigation" aria-label="pagination">

        <ul class="pagination-list">
          <li>
            <a href="" class="pagination-link is-current" aria-label="Page 1" aria-current="page">1</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 2">2</a>
          </li>
          <li>
            <a class="pagination-link" aria-label="Goto page 3">3</a>
          </li>
        </ul>
      </nav>
          </div>
        </div>
      </section>
    </main>

      {% block footer %}{% endblock %}

    </body>

    {% endblock %}
