{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="/static/assets/topchart.css">
  <link rel="stylesheet" href="/static/assets/topchartEX.css">
  <link rel="icon" href="/assets/images/Berm.ico">
{% endblock %}

{% block content %}

  <body>
    <main>
      <div class="container"></br>
      <g class="content has-text-left">10 อันดับเกมยอดนิยมประจำสัปดาห์</g>
      <hr>
      <b class="content has-text-left">NOVEMBER 5-11, 2017</b>
    </br>
    <div class="top5container">
      <div class="columns is-multiline is-centered">
        <div class="top5_1">
          <img class="image is-three-fifths is-marginless" src="/assets/images/Nono.jpg" width="100%">
          <div class="middle">
            <div class="text">Fire Emblem Heroes</div>
          </div>
        </div>
        <div class="top5_7  is-multiline">
          <div class="top5_2 is-marginless"><img class="image is-marginless" src="/assets/images/csgo_iconi.jpg" width="100%">
            <div class="middle">
              <div class="text">CS:GO</div>
            </div>
          </div>
          <div class="top5_3 is-marginless"><img class="image is-marginless" src="/assets/images/Sasaki4i.jpg" width="100%">
            <div class="middle">
              <div class="text">FGO</div>
            </div>
          </div>
        </div>
        <div class="top5 is-multiline">
          <div class="top5_4 is-marginless"><img class="image is-marginless" src="/assets/images/Nepi.jpg" width="100%">
            <div class="middle">
              <div class="text">Neptunia:RE1</div>
            </div>
          </div>
          <div class="top5_5 is-marginless">
            <img class="image is-marginless" src="/assets/images/Game_3267i.jpg" width="100%">
            <div class="middle">
              <div class="text">Neptunia:U</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="columns is-multiline">
        <div class="column is-3">
          <img src="/assets/images/sticker,375x360-bg,ffffff.u8.png" alt="LD" width="100px" height="auto">
        </div>
        <div class="column is-1">
          <g>6</g>
        </div>
        <div class="column is-4">
          <img src="/assets/images/Neko.jpg" alt="NK" width="100px" height="auto">
        </div>
        <div class="column is-4">
          <g>Nekopara</g>
        </div>
      </div>
      <hr>
      <div>
        <div class="columns is-multiline">
          <div class="column is-3">
            <img src="/assets/images/levelUP.png" alt="LU" width="100px" height="auto">
          </div>
          <div class="column is-1">
            <g>7</g>
          </div>
          <div class="column is-4">
            <img src="/assets/images/Skyrim.png" alt="Skyrim" width="100px" height="auto">
          </div>
          <div class="column is-4">
            <g>Skyrim</g>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <div class="columns is-multiline">
          <div class="column is-3">
            <img src="/assets/images/levelUP.png" alt="LD" width="100px" height="auto">
          </div>
          <div class="column is-1">
            <g>8</g>
          </div>
          <div class="column is-4">
            <img src="/assets/images/Game_2870.png" alt="Akiba" width="100px" height="auto">
          </div>
          <div class="column is-4">
            <g>Akiba's Trip</g>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <div class="columns is-multiline">
          <div class="column is-3">
            <h2>
              -
            </h2>
          </div>
          <div class="column is-1">
            <g>9</g>
          </div>
          <div class="column is-4">
            <img src="/assets/images/Game_2652.png" alt="MC" width="100px" height="auto">
          </div>
          <div class="column is-4">
            <g>Minecraft</g>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <div class="columns is-multiline">
          <div class="column is-3">
            <img src="/assets/images/sticker,375x360-bg,ffffff.u8.png" alt="LD" width="100px" height="auto">
          </div>
          <div class="column is-1">
            <g>10</g>
          </div>
          <div class="column is-4">
            <img src="/assets/images/Game_992.png" alt="FE" width="100px" height="auto">
          </div>
          <div class="column is-4">
            <g>Assasin's Creed 2</g>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div>
      <br>
      <b1>
        <strong>แหล่งข้อมูลจาก</strong>
        <a href="https://www.facebook.com/MixBlasterGESTV" style="color:red">กูเอง</a>
      </b1>
    </div>
  </div>
</main>

  {% block footer %}{% endblock %}

</body>

{% endblock %}
