body { /*ไม่มีไรนำหน้าคือ tag ปกติ*/
	background: #202020;
	/*font:100% RSU text;*/
}

.headcontainer { /*จุดคือเรียกใช้ class*/
	width: 1174px;
	height: 142px;
	margin: 0 auto;
}

.navcontainer {
	height: 57px;
	background: #8c0009;
}

nav a {
	width: 150px;
	color: white ! important;
	display: block;
	text-decoration: none;
	font: 25px Superspace;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
}

nav a:hover {
	margin-top: 5px;
	color: white;
	background: #232323;
	transition: 0.3s
}
body b2
{
  width: auto;
  color: white !important;
  display: block;
  text-decoration: none;
  font: 30pt Superspace !important;
  padding: 5px !important;
  border-radius: 5px;
  font-weight: bold !important;
}
.thumbnail {
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  margin-right:200px;
  margin-left:200px;
}
.thumbnail .thumbnail-item{
  border-right: 3px solid #ffffff;
}
.thumbnail .thumbnai-item:last-child {
  border: none;
}
.thumbnail .thumbnail-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color:#ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}
.footer{
   background : #8c0009;
}
.reviewtitle
{
	font : 30px Superspace  ;
	color: white;
}
.headnews2{
	height: 645px;
	width: auto;
}
.headnews{
	height: 305px;
	width: auto;
}
.container2 {
    border: 5px solid #ffffff;
    float: right;
    position: relative;
}
.card{
	margin-bottom: 5px !important;
	margin-top: 5px !important;
}
.line
{
  height: 1px;
  background-color: #ffffff;
  margin-top: 20px;
}
.section{
	padding-bottom: 0px !important;
}
.title
{
	font : 30px Superspace !important;
	font-weight: bold !important;
	font-color: #ffffff;
}

.subtitle
{
	font : 26px RSU text !important;}

	.pagination .pagination-link
	{
		width: 2px !important;

	}
	.pagination .is-current
	{
		background:#8C0009;
		border-color: #ffffff;
	}
	.pagination .pagination-link:hover
	{
		background: #8C0009;

	}
	.pagination .pagination-previous
	{
		width: 2px !important;

	}
.pagination .pagination-next
{
	width: 2px !important;
}
nav .pagination
{
	align-items: center;
}
div.img-resize {
	width: auto;
	height: 370px;
	overflow: hidden;
	text-align: center;
}
div.img-resize img{
height: 370px;
width: auto;	
}
div.img1-resize {
	width: 300px;
	height: 180px;
	overflow: hidden;
	text-align: center;
}
div.img1-resize img{
height: 180px;
width: 300px;	
}
line {
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.pagination-list {
	position: centered;
}
.nav1{
	position: centered;
}
